body 
{
    background:#181818;
    color:#fefefe;
}

img[alt="logo"]
{
    display:block;
    width:360px;
    margin: 0 auto;
}

div.joke
{
    margin: 20px auto 40px auto;
    width:360px;
    line-height:1.5;
    text-align:center;
    font-size:18pt;
    font-family:Verdana;
}

button.joke
{
    display:block;
    margin:0 auto;
    margin-bottom:10px;
    width:360px;
    padding:10px 0;
    text-align:center;
}
